doctype html
html(lang="en")
  head
    title BeAMust
    // inject:css
    // endinject
  body
    .page-wrapper(role='main')
      aside.page__sidebar(role='aside')
      .page__body

    footer.page__footer(role='contentinfo')

    // inject:js
    // endinject
