doctype html
html(lang="en")
  head
    title BeAMust
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="css/application.css")
  body
    .page-wrapper(role='main')
      aside.page__sidebar(role='aside')
        section.sidebar__user-panel
          .user-photo
            img(src='http://fakeimg.pl/100/?text=Photo')
          .user-info
            .user-name Arnaud
            .user-nav
              a.user-nav__link(href='#')
                i.fa.fa-arrow-circle-o-down
              a.user-nav__link(href='#')
                i.fa.fa-lock
              a.user-nav__link(href='#')
                i.fa.fa-sign-out

        nav.main-nav(role='navigation')
          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-th-list
              a.main-nav__link(href='#') Dashboard
              span.main-nav__badge 29

          .main-nav__item.active
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-envelope
              a.main-nav__link(href='#') Email

            .main-nav__item-detail
              ul.main-nav__submenu
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    i.main-nav__icon.fa.fa-th-list
                  a.main-nav__link(href='#') Drafts
                li.main-nav__submenu-item.active
                  span.main-nav__icon-wrapper
                    span.main-nav__badge 29

                  a.main-nav__link(href='#') Inbox
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    i.main-nav__icon.fa.fa-th-list
                  a.main-nav__link(href='#') Sent
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    i.main-nav__icon.fa.fa-th-list
                  a.main-nav__link(href='#') Marked
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    i.main-nav__icon.fa.fa-th-list
                  a.main-nav__link(href='#') Spam
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    i.main-nav__icon.fa.fa-th-list
                  a.main-nav__link(href='#') Trash
              .main-nav__labels
                .main-nav__labels-title
                .main-nav__labels-title

          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-comments-o
              a.main-nav__link(href='#') Messages
              span.main-nav__badge 9
          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-calendar
              a.main-nav__link(href='#') Calendar
              span.main-nav__badge 5
          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-book
              a.main-nav__link(href='#') Contacts
          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-archive
              a.main-nav__link(href='#') Data

      .page__body
        .body-head
          .body-head-wrapper
            h1.body-head-wrapper__title Email
              b  inbox
            a.big-button(href="#")
              i.fa.fa-pencil
              | Compose
          .body-actions
            .search
              input.search__input(type=text placeholder="Search...")
              a.search__submit(href="#")
                i.fa.fa-search
            ul.body-actions__actions
              li.body-actions__item
                a.body-actions__action(href="#")
                  i.fa.fa-list.fa-2x
              li.body-actions__item
                a.body-actions__action(href="#")
                  i.fa.fa-align-justify.fa-2x
              li.body-actions__item
                a.body-actions__action(href="#")
                  i.fa.fa-th.fa-2x
              li.body-actions__item
                a.body-actions__action(href="#")
                  i.fa.fa-th-list.fa-2x
        .clear
        .body-content
          .email-actions
            ul.email-actions__main
              li
                a.email-actions__action(href="#") Delete
              li
                a.email-actions__action(href="#") Archive
              li
                a.email-actions__action(href="#") Share
            ul.email-actions__secondary
              li
                a.email-actions__secondary-action(href="#")
                  i.fa.fa-cog
              li
                a.email-actions__secondary-action(href="#")
                  i.fa.fa-external-link
              li
                a.email-actions__secondary-action(href="#")
                  i.fa.fa-arrows-alt


    footer.page__footer(role='contentinfo')
      a(href='/')
        span.logo.logo-bg
        span.site-version beta 0.7a