doctype html
html(lang="en")
  head
    title BeAMust
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="css/application.css")
  body
    .page-wrapper(role='main')
      aside.page__sidebar(role='aside')
        section.sidebar__user-panel
          .user-photo
            img(src='http://fakeimg.pl/100/?text=Photo')
          .user-info
            .user-name Arnaud
            .user-nav
              a.user-nav__link(href='#')
                i.fa.fa-arrow-circle-o-down
              a.user-nav__link(href='#')
                i.fa.fa-lock
              a.user-nav__link(href='#')
                i.fa.fa-sign-out

        nav.main-nav(role='navigation')
          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-th-list
              a.main-nav__link(href='#') Dashboard
              span.badge 29

          .main-nav__item.active
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-envelope
              a.main-nav__link(href='#') Email

            .main-nav__item-detail
              ul.main-nav__submenu
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    span.badge
                      i.main-nav__icon.fa.fa-pencil
                      em.badge-alert 6
                  a.main-nav__link(href='#') Drafts
                li.main-nav__submenu-item.active
                  span.main-nav__icon-wrapper
                    span.badge
                      | 29
                      em.badge-alert 26
                  a.main-nav__link(href='#') Inbox
                li.main-nav__submenu-item
                  a.main-nav__link(href='#') Sent
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    span.badge
                      i.main-nav__icon.fa.fa-star
                  a.main-nav__link(href='#') Marked
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    span.badge 3
                  a.main-nav__link(href='#') Spam
                li.main-nav__submenu-item
                  a.main-nav__link(href='#') Trash

              ul.main-nav__submenu-mini
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    i.main-nav__icon.fa.fa-tags
                  .main-nav__submenu-item__title Label
                  .main-nav__submenu-mini--labels
                    a.label.highlight(href='#') personal
                    a.label(href='#') work
                    a.label.highlight(href='#') todo
                    a.label.highlight(href='#') beamust
                    a.label.highlight(href='#') family
                    a.label.highlight(href='#') personal
                    a.label(href='#') work
                    a.label.highlight(href='#') todo
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    i.main-nav__icon.fa.fa-pencil
                  a.main-nav__submenu-item__title(href='#') Notes
                li.main-nav__submenu-item
                  span.main-nav__icon-wrapper
                    i.main-nav__icon.fa.fa-cog
                  a.main-nav__submenu-item__title(href='#') Setings

          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-comments-o
              a.main-nav__link(href='#') Messages
              span.badge 9
          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-calendar
              a.main-nav__link(href='#') Calendar
              span.badge 5
          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-book
              a.main-nav__link(href='#') Contacts
          .main-nav__item
            .main-nav__title
              span.main-nav__icon-wrapper
                i.main-nav__icon.fa.fa-archive
              a.main-nav__link(href='#') Data

      .page__body
        .body-head
          .body-head-wrapper
            h1.body-head-wrapper__title Email
              b  inbox
            a.big-button(href="#")
              i.fa.fa-pencil
              | Compose
          .body-actions
            .search
              input.search__input(type=text placeholder="Search...")
              a.search__submit(href="#")
                i.fa.fa-search
            ul.body-actions__actions
              li.body-actions__item
                a.body-actions__action(href="#")
                  i.fa.fa-list.fa-2x
              li.body-actions__item
                a.body-actions__action(href="#")
                  i.fa.fa-align-justify.fa-2x
              li.body-actions__item
                a.body-actions__action(href="#")
                  i.fa.fa-th.fa-2x
              li.body-actions__item
                a.body-actions__action(href="#")
                  i.fa.fa-th-list.fa-2x
        .clear
        .body-content
          .email-actions
            ul.email-actions__secondary
              li
                a.email-actions__secondary-action(href="#")
                  i.fa.fa-cog
              li
                a.email-actions__secondary-action(href="#")
                  i.fa.fa-external-link
              li
                a.email-actions__secondary-action(href="#")
                  i.fa.fa-arrows-alt
            ul.email-actions__main
              li
                a.email-actions__action(href="#") Delete
              li
                a.email-actions__action(href="#") Archive
              li
                a.email-actions__action(href="#") Share
          table.email-list.email-list_checkboxes_yes
            thead.email-list-header
              tr
                th.email-list-header__th.email-list-header__check-all
                  input(type="checkbox", value="")
                th.email-list-header__th.email-list-header__favorite
                  a(href="#")
                    i.fa.fa-angle-down
                th.email-list-header__th.email-list-header__folder
                  .email-list-header__th-label Folder
                  a(href="#")
                    i.fa.fa-angle-down
                th.email-list-header__th.email-list-header__subject
                  .email-list-header__th-label Subject
                th.email-list-header__th.email-list-header__attachment
                  .email-list-header__th-label Attachment
                  a(href="#")
                    i.fa.fa-angle-down
                th.email-list-header__th.email-list-header__date
                  .email-list-header__th-label Date
                  a(href="#")
                    i.fa.fa-angle-down
                th.email-list-header__th.email-list-header__label
                  .email-list-header__th-label Label
                  a(href="#")
                    i.fa.fa-angle-down
            tbody
              tr.email-entry.email-entry-new
                td.email-entry__select
                  input(type="checkbox")
                td.email-entry__favorite
                  span.badge
                    i.fa.fa-star
                td.email-entry__folder  Arnold Swatzenegger
                td.email-entry__subject Re:Hello
                td.email-entry__attachment
                  a(href="#")
                    i.fa.fa-paperclip.attach-icon
                  a(href="#")
                    i.fa.fa-calendar.attach-icon.highlight
                td.email-entry__date Today
                td.email-entry__label
                  a(href="#")
                    span.label.highlight Important
              tr.email-entry
                td.email-entry__select
                  input(type="checkbox")
                td.email-entry__favorite
                  span.badge.light
                    i.fa.fa-star
                td.email-entry__folder  Arnold Swatzenegger
                td.email-entry__subject Re:Hello
                td.email-entry__attachment
                  a(href="#")
                    i.fa.fa-paperclip.attach-icon
                  a(href="#")
                    i.fa.fa-calendar-o.attach-icon.highlight
                td.email-entry__date Today
                td.email-entry__label
                  a(href="#")
                    span.label Work

    footer.page__footer(role='contentinfo')
      a(href='/')
        span.logo.logo-bg
        span.site-version beta 0.7a