doctype html
html(lang="en")
  head
    title BeAMust
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="css/application.css")
  body
    .page-wrapper(role='main')
      aside.page__sidebar(role='aside')
        .sidebar__user-panel
          .user-photo
            img(src='http://fakeimg.pl/100/?text=Photo')
          .user-info
            .user-name Arnaud
            .user-nav
              a(href='#')
                i.fa.fa-arrow-circle-o-down
              a(href='#')
                i.fa.fa-lock
              a(href='#')
                i.fa.fa-sign-out


        nav.main-nav(role='nav')
          | asd asda

      .page__body

    footer.page__footer(role='contentinfo')
      a(href='/')
        span.logo.logo-bg
        span.site-version beta 0.7a