$colors: (
  whiskey: #f4f6f4,
  milk: #fdf9f8,
  wine: #e9e3df,
  beer: #52493D,
  cola: #988a7d,
  vodka: #a3c3dc,
  martini: #86b0cf,
  samogon: #afa398
);

@function get__color($color) {
  @return map-get($colors, $color);
}