// Typography
$base--font-size: 14px !default;
$em-base: $base--font-size!global;
$base--line-height: 24px !default;

$font--Roboto: 'Roboto', sans-serif; // 100 300 500
$font--Museo-500: 'Museo500-Regular', sans-serif;
$font--Museo-700: 'Museo700-Regular', sans-serif;


//
$page--min-width: rem(320);
$page--side-padding: rem(40);

//

$logo-ratio: 0.241666667;
$save-padding: 0 2rem;