.page__body {
  overflow: hidden;
  background-color: #fdf9f8;
  padding: rem(75) rem(55) rem(40) 0;
}

.body-head {
  .body-head-wrapper {
    float: left;
    .body-head-wrapper__title {
      @include adjust-font-size-to(rem(50));
      margin-bottom: rem(25);
      b {
        font-weight: bold;
      }
    }
  }
}
.big-button {
  background-color: get__color(vodka);
  display: inline-block;
  border-radius: rem(8);
  padding: rem(5) rem(15);
  @include adjust-font-size-to(rem(17));
  font-size: rem(20);
  color: #fff;
  i {
    margin-right: rem(15);
    font-size: 1.5em;
    vertical-align: middle;
  }
}

.body-actions {
  float: right;
}

.search {
  background: #ece6e2;
  padding: rem(4) rem(16);
  border-radius: rem(20);
  line-height: 29px;
  .search__input {
    background: none;
    @include adjust-font-size-to(rem(17));
    border: 0 none;
    vertical-align: middle;
    color: #4a4339;
  }
  .search__submit {
    color: #4b4437;
  }
  .fa-search {
    font-size: 1.5em;
  }
}

.body-actions__actions {
  margin-top: 30px;
  text-align: right;
  .body-actions__action {
    color:#b0a498;
    &:hover {
      color:  get__color(vodka);
    }
  }
  .body-actions__item {
    display: inline-block;
    margin-left: 7px;
  }
}

.body-content {
  margin-top: 3px;
}

.email-actions {
  padding: 0 rem(15) 0 rem(55);
  border-radius: rem(8) rem(8) 0 0;
  background-color: get__color(vodka);
  .email-actions__main {
    display: inline-block;
    li {
      &:after {
        width: 1px;
        height: 8px;
        background-color: get__color(milk);
        content: "";
        display: inline-block;
        margin-left: rem(13);
        margin-right: rem(10);
      }
      display: inline-block;
      &:last-child {
        .email-actions__action {
          border: none;

        }
      }
    }
    .email-actions__action {
      color: get__color(milk);
      font-size: rem(12);
    }
  }

  .email-actions__secondary {
    float: right;
    li {
      display: inline-block;
      margin-left: 7px;
    }
    .email-actions__secondary-action {
      color: get__color(milk);
      vertical-align: middle;
    }
  }
}
