.main-nav {

  .main-nav__item {
    position: relative;
    margin-top: rem(5);
  }

  .main-nav__title {
    position: relative;
    padding-left: rem(64);
    @include adjust-font-size-to(rem(22));

    .main-nav__icon-wrapper {
      left: rem(20);
    }
  }

  .main-nav__icon-wrapper {
    @include position(absolute, 0 null null 0);
  }

  .main-nav__icon {

  }

  .main-nav__link {

    + .main-nav__badge {
      margin-left: rem(10);
    }
  }

  .main-nav__badge {
    white-space: nowrap;
    font-size: rem(12);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    min-width: rhythm();
    color: get__color(whiskey);
    background: get__color(martini);
    box-shadow: 0 0 2px get__color(vodka);
    vertical-align: text-bottom;
    padding: 0 rem(5);
    @include font__roboto-medium;
  }

  .main-nav__submenu {
    padding-left: rem(34);
  }

  .main-nav__submenu-item {
    position: relative;
    padding-left: rem(27);
    @include adjust-font-size-to(rem(16));
  }
}
