.main-nav {

  .main-nav__item {
    position: relative;

    &.active {
      background: get__color(milk);
      border-radius: rem(7) 0 0 rem(7);

      > .main-nav__title {
        background: get__color(martini);
        border-radius: rem(7) 0 rem(7) 0;
        color: get__color(milk);

        .main-nav__link {
          color: get__color(milk);
          @include font__roboto-medium;
        }
      }

      .main-nav__item-detail {
        display: block;
      }

      .main-nav__submenu {
        border-radius: 0 0 0 rem(7);
      }

      &:before {
        background: get__color(milk);
        height: 10px;
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
      }

      &:after {
        background: get__color(wine);
        height: 10px;
        border-radius: 0 7px 0 0;
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
      }
    }
  }

  .main-nav__title {
    position: relative;
    padding: rhythm(.5) 0 rhythm(.5) rhythm(2) ;
    @include adjust-font-size-to(rem(21), 1);

    .main-nav__icon-wrapper {
      left: rhythm(.5);
      top: rhythm(.5);
    }
  }

  .main-nav__icon-wrapper {
    @include position(absolute, 0 null null 0);

    .main-nav__icon {
    }
  }

  .main-nav__link {

    + .badge {
      margin-left: rem(10);
    }
  }

  .badge {

    .badge-alert {
      background: get__color(cola);
      font-style: normal;
      border-radius: 50%;
      min-width: rhythm(.75);
      @include adjust-font-size-to(rem(10), .75);
      @include position(absolute, rem(-4) rem(-6) null null);
    }
  }

  .main-nav__item-detail {
    display: none;
  }

  .main-nav__submenu {
    padding: rhythm(1) rhythm(1.5);
  }

  .main-nav__submenu-item {
    position: relative;
    margin-left: rem(27);
    @include adjust-font-size-to(rem(16), 1);

    + .main-nav__submenu-item {
      margin-top: rem(5);
    }

    .main-nav__icon-wrapper {
      left: auto;
      right: 100%;
      margin-right: rem(10);
    }

    .badge {
//      box-shadow: none;
    }

    &.active {
      .main-nav__link {
        @include font__roboto-medium;
      }
    }
  }

  .main-nav__submenu-mini {
    padding: 0 rhythm(1.5) rhythm(1);

    .main-nav__icon-wrapper {
      color: get__color(samogon);
    }
  }

  .main-nav__submenu-mini--labels {
    @include adjust-leading-to(.75);
    padding-bottom: rem(10);
  }
}
