.page__sidebar {
  background: get__color(wine);
  width: rem(300);
  min-height: 100vh;
  float: left;
  margin-right: rem(40);
  @include side-padding($page--side-padding);

  + .page__body {
    margin-left: rem(340);
  }

  .main-nav {
    margin-top: rhythm(1.5);
  }
}

.sidebar__user-panel {
  @include clearfix;

  .user-photo {
    float: left;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: rem(4) solid get__color(vodka);
    padding: rem(8);
    @include size(rem(117));

    &:before, &:after{
      content: '';
      border-radius: 50%;
      @include position(absolute, 0);
    }

    &:before {
      border: rem(8) solid get__color(beer);
    }

    &:after {
      border: rem(4) solid get__color(cola);
    }

    img {
      vertical-align: top;
      border-radius: 50%;
      @include size(100%);
    }
  }

  .user-info {
    padding-top: rem(48);
    margin-left: rem(130);
  }

  .user-name {
    @include adjust-font-size-to(rem(24), 1.5);
    @include ellipsis;
    display: block;
  }

  .user-nav {
    @include adjust-font-size-to(rem(24), 1);

    .user-nav__link {
      display: inline-block;

      + .user-nav__link {
        margin-left: rem(10);
      }
    }
  }
}

.main-nav {

  .main-nav__item {
    position: relative;
    margin-top: rem(5);
  }

  .main-nav__title {
    position: relative;
    padding-left: rem(64);
    @include adjust-font-size-to(rem(22));

    .main-nav__icon-wrapper {
      left: rem(20);
    }
  }

  .main-nav__icon-wrapper {
    @include position(absolute, 0 null null 0);
  }

  .main-nav__icon {

  }

  .main-nav__link {

    + .main-nav__badge {
      margin-left: rem(10);
    }
  }

  .main-nav__badge {
    white-space: nowrap;
    font-size: rem(12);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    min-width: rhythm();
    color: get__color(whiskey);
    background: get__color(martini);
    box-shadow: 0 0 2px get__color(vodka);
    vertical-align: text-bottom;
    padding: 0 rem(5);
    @include font__roboto-medium;
  }

  .main-nav__submenu {
    padding-left: rem(34);
  }

  .main-nav__submenu-item {
    position: relative;
    padding-left: rem(27);
    @include adjust-font-size-to(rem(16));
  }
}